/* #components-layout-demo-top-side .logo {
float: left;
width: 120px;
height: 31px;
margin: 16px 24px 16px 0;
background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
float: right;
margin: 16px 0 16px 24px;
} */

.editor {
    height: 100%;
}

.editor .header {
    height: 30px;
    line-height: 30px
}

.editor .content .layout {
    background: #fff;
    height: 100%;
}

.editor .content .layout .sider {
    background: #fff;
    height: 100%;
}

.editor .content .layout .content {
    background: #fff;
    height: 100%;
}